@import "compass/reset";
@import "compass/css3";
@import "960";

html { background:#eee; }
h1 { margin:10px 0; font-size:22px; color:#666;}
h2 { margin:5px 0; font-size:18px; color:#999; text-transform:lowercase; }
ul { margin:10px 0; }
ul li { margin:5px 0; }
p, li {color:#333; }
strong {font-weight:bold;}

.btn {
    @include background(image-url("btn-stripes.png"), linear-gradient(#8e8e8e, #414141));
    display:inline-block; color:#fff; font-family: 'Francois One', sans-serif; padding:3px 9px; margin:10px;
    text-decoration:none; text-transform:uppercase; @include border-radius(4px); font-size:16px;
    text-align:center; @include text-shadow(rgba(black, 0.7) 2px 1px 1px);
    &:hover { @include background(image-url("btn-stripes.png"), linear-gradient(#414141, #8e8e8e)); }
    &:active { @include background(image-url("btn-stripes.png"), linear-gradient(#414141, #626262)); }
}

.btn.primary {
    @include background(image-url("btn-stripes.png"), linear-gradient(#c11011, #850f0a));
    &:hover { @include background(image-url("btn-stripes.png"), linear-gradient(#850f0a, #c11011)); }
    &:active { @include background(image-url("btn-stripes.png"), linear-gradient(#850f0a, #e41618)); }
}

.btn.secondary {
    @include background(image-url("btn-stripes.png"), linear-gradient(#5e7e83, #133338));
    &:hover { @include background(image-url("btn-stripes.png"), linear-gradient(#133338, #5e7e83)); }
    &:active { @include background(image-url("btn-stripes.png"), linear-gradient(#133338, #0d8092)); }
}
