$upc-tools-side-padding:10px;
$upc-tools-bottom-padding:5px;

.upc-tools {
	border-left:1px solid $the-wall-primary-color; clear:both; position:relative; font-size:12px; padding:0 0 $upc-tools-bottom-padding $upc-tools-side-padding;
	li {
		display:inline; 
		&.flag, &.delete {position:absolute; right:$upc-tools-side-padding; bottom:$upc-tools-bottom-padding; }
	}	
}