.upc {	
	padding-bottom:10px; border-bottom:5px solid $the-wall-terciary-color; display:block; margin:0 0 20px 0;
	
	/* users profile photo */
	.vcard {
		float:left; width:75px; color:$the-wall-secondary-color; font-size:12px;
		h1 {margin:0 0 8px 0;}
		h2 {
			font-size:11px; font-style:italic; color:$the-wall-primary-color; margin:0 0 8px 0;
		}
		/* customer's profile photo */
		> img {
			height:72px; width:72px; display:block; clear:both; @extend .temp; margin:0 0 8px 0;
		}
		ul {
			margin:0 0 8px 0;
			li {
				display:inline;
				/* badges */
				img { height:19px; width:19px; display:inline-block; @extend .temp;}
			}		
		}
		
	}
	
	.upc-content {
		margin:0 0 0 $the-wall-indent; display:block;
		h1 {
			font-weight:bold; font-size:18px;
			a { text-decoration:none; color:$the-wall-content-color;}
		}
	}
	
	.upc-status em { display:inline-block; background:$the-wall-terciary-heading-color; color:#fff; font-size:12px; padding:5px; }
	.dtreviewed { font-size:12px; font-weight:normal; color:$the-wall-secondary-color; }
	.upc-single { border-bottom:1px solid $the-wall-primary-color; display:block; margin-bottom:10px; clear:both;}	
	.description {
		@extend .clearfix; margin:25px 0 10px 0;
		p {font-size:12px; line-height:17px; color:$the-wall-content-color}
	}
	
	.upc-replies {
		margin:0 0 0 $the-wall-indent; display:block;
		article {
			@extend .clearfix; border-bottom:1px solid $the-wall-primary-color; display:block; margin:0 0 20px 0; clear:both;
			&> div  { @extend .clearfix; margin:0 0 0 $the-wall-indent - 6; display:block;}		
		}
		form {
			margin:-20px 53px 36px $the-wall-indent - 6; display:block; clear:both; background:$the-wall-primary-color; padding:5px; overflow:auto;
			textarea{ width:100%; height:81px; border:0; margin:0; padding:0;}
			&.collapsed textarea { height:13px;} 
			.submit-upc-reply { @include btn-primary; float:right; margin:10px 0;}
			.add-a-photo { margin:10px 0 0;}						
			&.collapsed .submit-upc-reply, &.collapsed .add-a-photo{display:none;}
			h3 { margin:10px 0; font-size:14px; font-weight:bold; color:$the-wall-terciary-heading-color;}
		}
		.description  { margin:5px 0;}
	}
	.cpi {display:block; @extend .temp; margin:10px 0;}
}