@import "wall-variables-mixins.scss"; 

/* unique piece of content; customer review, photo, question, video, etc. */
.upc {	
	padding-bottom:10px; border-bottom:5px solid $the-wall-terciary-color; display:block; margin:0 0 20px 0;

	/* the content itself */
	.upc-content { 
		margin:0 0 0 $the-wall-indent; display:block;		
		h1 {
			font-weight:bold; font-size:18px;
			a { text-decoration:none; color:$the-wall-content-color;}
		}
	}
	
	/* for questions/answer */
	.upc-status em { display:inline-block; background:$the-wall-terciary-heading-color; color:#fff; font-size:12px; padding:5px; margin:0 0 5px 0;}
	.dtreviewed { font-size:12px; font-weight:normal; color:$the-wall-secondary-color; }
	
	/* first upc, ie a single review, photo or video */	
	.upc-single { border-bottom:1px solid $the-wall-primary-color; display:block; margin-bottom:10px; clear:both;}	
	.description {
		@extend .clearfix; margin:25px 0 10px 0;
		p {font-size:12px; line-height:17px; color:$the-wall-content-color}
	}
	
	/* comments / answers */
	.upc-replies {
		margin:0 0 0 $the-wall-indent; display:block;
		article {
			@extend .clearfix; border-bottom:1px solid $the-wall-primary-color; display:block; margin:0 0 20px 0; clear:both;
			.upc-content {
				@extend .clearfix;  margin:0 0 0 $the-wall-indent-replies; 
				.description  { margin:5px 0; }
			}
		}
		/* submit a comment, answer, reply of any kind.  */
		form {
			margin:-20px 53px 36px $the-wall-indent-replies; display:block; clear:both; background:$the-wall-primary-color; padding:5px; overflow:auto;
			textarea {width:100%; height:81px; border:0; margin:0; padding:0;}
			&.collapsed textarea {height:13px;} 
			.submit-upc-reply {@include btn-primary; float:right; margin:10px 0;}
			.add-a-photo {margin:10px 0 0;}	
			.button-row {height:auto; overflow:visible;}
			&.collapsed .button-row, &.collapsed .add-a-photo {display:none;}
			h3 {margin:10px 0; font-size:14px; font-weight:bold; color:$the-wall-terciary-heading-color;}
		}
	}
	.cpi {display:block; @extend .temp; margin:10px 0;}
}