@import "compass";
@import "compass/css3/images";
@import "compass/css3/shared";

$the-wall-width:auto;
/* 562px */
$the-wall-indent:104px;
$the-wall-primary-color:#ccc;
$the-wall-secondary-color:#8b8b8b;
$the-wall-primary-background:#e7e7e9;

/* misc */
.hidden{display:none!important;}
.clearfix:after { content: "."; display: block; height: 0;  clear: both; visibility: hidden;}
.temp {border:1px solid red; background:#eee}

@mixin input-border-style {
	border: 1px solid #c7c7c9; border-color:#959595 #c7c7c9 #b2b2b3 #c8c8c7; 
}

@mixin btn {
	display:inline-block; padding:7px 11px; color:#193d55; cursor:pointer; @include border-radius(8px); @include background(linear-gradient(top, #cacaca, #dfdfdf)); font-size:15px; @include box-shadow(2px 2px 3px rgba(190,190,190,0.85)); text-decoration:none; 
}

@mixin btn-primary {
	@include btn; @include background(linear-gradient(top, #f3961d, #ffc34a)); color:#fff; font-weight:bold;
}

#the-wall {
	width:$the-wall-width; margin:10px; font-family:Arial, Verdana, sans-serif; text-align:left; min-width:600px;
	
	#content-types {
		h1 { float:left; margin:0 5px 0 0; color:#3d3d3d; }
		a {
			display:inline-block; font-weight:bold; min-width:107px; 
		}		
	}
	
	#wall-content {
		nav {
			@include background(linear-gradient(top, #e6e6e6, #f1f1f3)); display:block; margin:10px 0; overflow:auto; padding:10px 5px; border:1px solid #cccccc; border-width:1px 0;
			h1 {float:left; color:#193d55; font-size:20px; font-weight:bold; }
			span {
				float:right; margin:2px 0;
				a {
					text-decoration:none; font-size:15px; font-weight:bold; padding:7px 10px; border:1px solid rgba(255,255,255,0); @include border-radius(8px); color:#214c6c; font-weight:bold;
					&.selected { background:#214c6c; border:1px solid #cdcdcd; color:#fff; -webkit-background-clip: padding;}
				}
			}
			
		}
	}
}

section.solicitation {
	position:relative;
	.indicator {
		background:url(../img/carrot.jpg) 80px top no-repeat; padding:15px 0 0 0; display:block; position:relative; z-index:2; top:1px;
		
	}
	&.question {
		.indicator {background-position:200px top; }
	}
	&.photo  {
		.indicator {background-position:296px top; }
		}	
	form { margin:0 0 10px 0;  display:block; @include background(linear-gradient(top, #e9e9eb, #f3f3f5)); padding:10px; border:1px solid #ccc; position:relative; z-index:1}
	h1 { font-size:22px; font-weight:bold; margin:0 0 20px 0; color:#666}
	h2 {
		font-size:16px; margin:13px 0 10px 0;
		a {color:#039; text-decoration:none; font-weight:bold;}		
	}
	.display-form { display:none;}
	&.collapsed .display-form { display:block;}	
	
	&.collapsed .step {
		display:none;
	}
	.step {
		display:block; margin:0 0 10px 0;	
		h3 {background:#dadada; font-size:18px; font-weight:bold; padding:15px; margin:0 -10px 20px -10px; color:#666666}
		.survey-options {
			li {
				@extend .clearfix; margin:10px 0 20px 0;
				dt, dd {float:left; font-size:12px; color:#666666}
				dt { width:100px; font-size:14px; text-align:right; margin:0 20px 0 0; }
				dd {
					margin:0 20px 0 0; @include border-radius(8px);  background:#D6D7E0; text-shadow:1px 1px 1px #fff; display:block; padding:6px 10px; min-width:64px; text-align:center; cursor:pointer; color:#000;
					&.selected { @include background(linear-gradient(top, #854748, #6a1e1f)); color:#fff; text-shadow:0 0 0 ;}
				}
			}			
		}
		h5 {
			.btn-submit-survey { @include btn; margin:0 0 0 330px; 
  }
		}
		
	}
}

*:first-child+html section.solicitation  .indicator{ height:15px; width:100%; height:1px; overflow:auto; top:3px}

form.wall-interaction {
		.faux-label {
			@extend .clearfix; clear:both; display:block; margin:0 0 15px 0; color:#666;
			> span {
				float:left; width:100px; height:30px; display:block; font-size:14px; font-weight:bold; text-align:right;
				em, a { font-weight:normal;}
				em { font-style:italic}
				a { font-size:10px; display:block; margin:3px 0;}
			} 
			.faux-col {
				input, .textarea-wrapper .inner { @include input-border-style; min-width:250px; }
				margin:0 0 0 122px; display:block; overflow:hidden;
				textarea { height:90px; }
				span { display:block; font-weight:normal; font-size:12px; }
			}
			&.add-a-photo .faux-col {
				input {margin:0 0 15px 0;}
			}
		}
		.button-row {
		overflow:auto; height:34px;
			li {				
				float:left; height:31px;
				&.submit {
					padding:0 40px 0 0; border-right:1px solid #898989; 
					.primary { @include btn-primary; }
				}
				&.fb-share { border-left:1px solid #fbfbfb; padding:0 0 0 16px; }
			}
		}
	}

.upc {	
	padding-bottom:10px; border-bottom:5px solid #eee; display:block; margin:0 0 20px 0;
	
	.vcard {
		float:left; width:75px; color:#8b8b8b; font-size:12px;
		h1 {margin:0 0 8px 0;}
		h2 {
			font-size:11px; font-style:italic; color:$the-wall-primary-color; margin:0 0 8px 0;
		}
		> img {
			height:72px; width:72px; display:block; clear:both; @extend .temp; margin:0 0 8px 0;
		}
		ul {
			margin:0 0 8px 0;
			li {
				display:inline;
				img { height:19px; width:19px; display:inline-block; @extend .temp;}
			}		
		}
		
	}
	
	.upc-content {
		margin:0 0 0 $the-wall-indent; display:block;
		h1 {
			font-weight:bold; font-size:18px;
			a { text-decoration:none; color:#000;}
		}
	}
	
	.upc-status em { display:inline-block; background:#333; color:#fff; font-size:12px; padding:5px; }
	.dtreviewed { font-size:12px; font-weight:normal; color:#8b8b8b; }
	.upc-single { border-bottom:1px solid $the-wall-primary-color; display:block; margin-bottom:10px; clear:both;}	
	.description {
		@extend .clearfix; margin:25px 0 10px 0;
		p {font-size:12px; line-height:17px;}
	}
	
	.upc-replies {
		margin:0 0 0 $the-wall-indent; display:block;
		article {
			@extend .clearfix; border-bottom:1px solid $the-wall-primary-color; display:block; margin:0 0 20px 0; clear:both;
			&> div  { @extend .clearfix; margin:0 0 0 $the-wall-indent - 6; display:block;}		
		}
		form {
			margin:-20px 53px 36px $the-wall-indent - 6; display:block; clear:both; background:$the-wall-primary-color; padding:5px; overflow:auto;
			textarea{ width:100%; height:81px; border:0; margin:0; padding:0;}
			&.collapsed textarea { height:13px;} 
			.submit-upc-reply { @include btn-primary; float:right; margin:10px 0;}
			.add-a-photo { margin:10px 0 0;}						
			&.collapsed .submit-upc-reply, &.collapsed .add-a-photo{display:none;}
			h3 { margin:10px 0; font-size:14px; font-weight:bold; color:#333;}
		}
		.description  { margin:5px 0;}
	}
	.cpi {display:block; @extend .temp; margin:10px 0;}
}
		
		
	$upc-tools-side-padding:10px;
	$upc-tools-bottom-padding:5px;
	
.upc-tools {
	border-left:1px solid $the-wall-primary-color; clear:both; position:relative; font-size:12px; padding:0 0 $upc-tools-bottom-padding $upc-tools-side-padding;
	li {
		display:inline; 
		&.flag, &.delete {position:absolute; right:$upc-tools-side-padding; bottom:$upc-tools-bottom-padding; }
	}	
}

.upc-replies .upc-tools {margin-left:$the-wall-indent - 6}

.textarea-wrapper {
	background:#fff; padding:0; display:block; clear:both;
	.inner {
		background:#fff; clear: both; display: block; padding: 5px;
		textarea { margin:0; padding:0; width:100%; border:0; min-height:17px; resize:vertical;}
	}
}
