$the-wall-indent:104px;

$the-wall-primary-color:#ccc;
$the-wall-secondary-color:#8b8b8b;
$the-wall-terciary-color:#eee;
$the-wall-quaternary-color:#898989;

$the-wall-primary-background:#e7e7e9;
$the-wall-secondary-background:#dadada;

/* headings */
$the-wall-primary-heading-color:#666;
$the-wall-secondary-heading-color:#3d3d3d;
$the-wall-terciary-heading-color:#333;

/* content color, should be bw */
$the-wall-content-color:#000;
$the-wall-content-secondary-color:#fff;

/* buttons */
$the-wall-btn-color:#193d55;
$the-wall-btn-primary-top-color:#f3961d;
$the-wall-btn-primary-bottom-color:#ffc34a;
$the-wall-btn-secondary-top-color:#cacaca;
$the-wall-btn-secondary-bottom-color:#dfdfdf;