@import "pie.scss";
@import "wall-variables-mixins.scss"; 

/* top of the page solicitations */
@mixin solicitation {
	@include pie; overflow:auto;
	.indicator { background:url(../img/pdp.png) no-repeat 96px 0px; padding:15px 0 0 0; display:block;
				 position:relative; z-index:2; top:1px; }	
	&.question { .indicator {background-position:255px top; } }
	&.photo  { .indicator {background-position:410px top;} }	
	&.video  { .indicator {background-position:572px top;} }	
	
	form { margin:0 0 10px 0; @include pie; @include background(linear-gradient(#e9e9eb, #f3f3f5)); display:block;  padding:10px;
		  border:1px solid $the-wall-primary-color; position:relative; z-index:1; }
	h1 { font-size:22px; font-weight:bold; margin:0 0 20px 0; color:$the-wall-primary-heading-color}
	h2 {
		font-size:16px; margin:13px 0 10px 0;
		a {color:#039; text-decoration:none; font-weight:bold;}		
	}
	
	/* hiding the call to action to expand a form when the form is !collapsed */
	.display-form { display:none;}
	/* showing the call to action to expand the form when form is collapsed */
	&.collapsed .display-form { display:block;}	
	/* hiding the content in the top of the page when collapsed */
	&.collapsed .step { display:none; }	
}

/* actively using the mixin */
.solicitation.review, .solicitation.question, .solicitation.photo, .solicitation.video, .edit.review { @include solicitation;}

/* tweak content hidden at load */
.edit.review { display:none; }

/* button row */
.upc .edit .button-row {
	background:$the-wall-secondary-background; margin:10px -10px -20px -10px; padding: 10px 20px;
}

/* user contact card */
.upc .edit .vcard {
	> img {margin:0;}
	ul, h2 { display:none; }
}