#the-wall {
	width:562px;
	margin:10px auto;
	font-family:Arial, Verdana, sans-serif;
	text-align:left;
	border:2px solid blue;
}

.solicitation {
	background:#eee;
	margin:10px 0;
}

.hidden, div.step {
	display:none;
}

textarea {
	resize:vertical;
}

section.solicitation {
	border:1px solid pink;
}

.solicitation + .solicitation {
	display:none;
}
