/* line 27, src/pie.scss */
.pie-element, .bordered, .gradient, .btn, .primary, .btn.cancel, .upc .upc-replies form .submit-upc-reply {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  position: relative;
}

/* line 33, src/pie.scss */
.bordered {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 38, src/pie.scss */
.gradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 52, src/pie.scss */
.pie-container, .widget {
  z-index: 0;
  position: relative;
}

/* line 56, src/pie.scss */
.z-pie-element, .widget h3 {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  z-index: 0;
}

/* line 71, src/pie.scss */
.has-gradient {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* misc */
/* line 28, src/wall-variables-mixins.scss */
.hidden {
  display: none!important;
}

/* line 29, src/wall-variables-mixins.scss */
.clearfix:after, .upc .description:after, .upc .upc-replies article:after, .upc .upc-replies article .upc-content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 48, src/wall-variables-mixins.scss */
.textarea-wrapper {
  background: #fff;
  padding: 0;
  display: block;
  clear: both;
}
/* line 50, src/wall-variables-mixins.scss */
.textarea-wrapper .inner {
  background: #fff;
  clear: both;
  display: block;
  padding: 5px;
}
/* line 52, src/wall-variables-mixins.scss */
.textarea-wrapper .inner textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  min-height: 17px;
  resize: vertical;
}

/* line 56, src/wall-variables-mixins.scss */
.btn {
  display: inline-block;
  padding: 7px 11px;
  color: #193d55;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #cacaca, #dfdfdf);
  background: -moz-linear-gradient(top, #cacaca, #dfdfdf);
  background: -o-linear-gradient(top, #cacaca, #dfdfdf);
  -pie-background: linear-gradient(top, #cacaca, #dfdfdf);
  background: linear-gradient(top, #cacaca, #dfdfdf);
  font-size: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -webkit-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -o-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  text-decoration: none;
  text-align: center;
}

/* line 57, src/wall-variables-mixins.scss */
.primary {
  display: inline-block;
  padding: 7px 11px;
  color: #193d55;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #cacaca, #dfdfdf);
  background: -moz-linear-gradient(top, #cacaca, #dfdfdf);
  background: -o-linear-gradient(top, #cacaca, #dfdfdf);
  -pie-background: linear-gradient(top, #cacaca, #dfdfdf);
  background: linear-gradient(top, #cacaca, #dfdfdf);
  font-size: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -webkit-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -o-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  text-decoration: none;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3961d), color-stop(100%, #ffc34a));
  background: -webkit-linear-gradient(top, #f3961d, #ffc34a);
  background: -moz-linear-gradient(top, #f3961d, #ffc34a);
  background: -o-linear-gradient(top, #f3961d, #ffc34a);
  -pie-background: linear-gradient(top, #f3961d, #ffc34a);
  background: linear-gradient(top, #f3961d, #ffc34a);
  color: #fff;
  font-weight: bold;
}

/* line 58, src/wall-variables-mixins.scss */
.btn.cancel {
  display: inline-block;
  padding: 7px 11px;
  color: #193d55;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #cacaca, #dfdfdf);
  background: -moz-linear-gradient(top, #cacaca, #dfdfdf);
  background: -o-linear-gradient(top, #cacaca, #dfdfdf);
  -pie-background: linear-gradient(top, #cacaca, #dfdfdf);
  background: linear-gradient(top, #cacaca, #dfdfdf);
  font-size: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -webkit-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -o-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  text-decoration: none;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9b), color-stop(100%, #c6c4c7));
  background: -webkit-linear-gradient(top, #9a9a9b, #c6c4c7);
  background: -moz-linear-gradient(top, #9a9a9b, #c6c4c7);
  background: -o-linear-gradient(top, #9a9a9b, #c6c4c7);
  -pie-background: linear-gradient(top, #9a9a9b, #c6c4c7);
  background: linear-gradient(top, #9a9a9b, #c6c4c7);
  color: #fff;
  font-weight: normal;
}

/* unique piece of content; customer review, photo, question, video, etc. */
/* line 4, src/upc.scss */
.upc {
  padding-bottom: 10px;
  border-bottom: 5px solid #eeeeee;
  display: block;
  margin: 0 0 20px 0;
  /* the content itself, where all the magic happens */
  /* for questions/answer */
  /* first upc, ie a single review, photo or video */
  /* comments / answers */
}
/* line 8, src/upc.scss */
.upc .upc-content {
  margin: 0 0 0 104px;
  display: block;
}
/* line 10, src/upc.scss */
.upc .upc-content abbr.rating {
  width: 74px;
  height: 16px;
  background: url(../img/pdp.png) top left no-repeat;
  display: block;
  text-indent: -9999px;
}
/* line 12, src/upc.scss */
.upc .upc-content abbr.rating.five-stars {
  background-position: 0 -57px;
}
/* line 13, src/upc.scss */
.upc .upc-content abbr.rating.four-stars {
  background-position: 0 -82px;
}
/* line 14, src/upc.scss */
.upc .upc-content abbr.rating.three-stars {
  background-position: 0 -110px;
}
/* line 15, src/upc.scss */
.upc .upc-content abbr.rating.two-stars {
  background-position: 0 -137px;
}
/* line 16, src/upc.scss */
.upc .upc-content abbr.rating.one-stars {
  background-position: 0 -165px;
}
/* line 17, src/upc.scss */
.upc .upc-content abbr.rating.zero-stars {
  background-position: 0 -194px;
}
/* line 20, src/upc.scss */
.upc .upc-content h1 {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 35px 0;
}
/* line 22, src/upc.scss */
.upc .upc-content h1 a {
  text-decoration: none;
  color: black;
}
/* line 27, src/upc.scss */
.upc .upc-status em {
  display: inline-block;
  background: #333333;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  margin: 0 0 5px 0;
}
/* line 28, src/upc.scss */
.upc .dtreviewed {
  font-size: 12px;
  font-weight: normal;
  color: #8b8b8b;
}
/* line 31, src/upc.scss */
.upc .upc-single {
  border-bottom: 1px solid #cccccc;
  display: block;
  margin-bottom: 10px;
  clear: both;
}
/* line 32, src/upc.scss */
.upc .description {
  /*margin:25px 0 10px 0;*/
  margin: 0 0 10px 0;
}
/* line 34, src/upc.scss */
.upc .description p {
  font-size: 12px;
  line-height: 17px;
  color: black;
}
/* line 38, src/upc.scss */
.upc .upc-replies {
  margin: 0 0 0 104px;
  display: block;
  /* submit a comment, answer, reply of any kind.  */
}
/* line 40, src/upc.scss */
.upc .upc-replies article {
  border-bottom: 1px solid #cccccc;
  display: block;
  margin: 0 0 20px 0;
  clear: both;
}
/* line 42, src/upc.scss */
.upc .upc-replies article .upc-content {
  margin: 0 0 0 98px;
}
/* line 44, src/upc.scss */
.upc .upc-replies article .upc-content .description {
  margin: 5px 0;
}
/* line 49, src/upc.scss */
.upc .upc-replies form {
  margin: -20px 53px 36px 98px;
  display: block;
  clear: both;
  background: #cccccc;
  padding: 5px;
  overflow: auto;
}
/* line 51, src/upc.scss */
.upc .upc-replies form textarea {
  width: 100%;
  height: 81px;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 52, src/upc.scss */
.upc .upc-replies form.collapsed textarea {
  height: 13px;
}
/* line 53, src/upc.scss */
.upc .upc-replies form .submit-upc-reply {
  display: inline-block;
  padding: 7px 11px;
  color: #193d55;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #cacaca, #dfdfdf);
  background: -moz-linear-gradient(top, #cacaca, #dfdfdf);
  background: -o-linear-gradient(top, #cacaca, #dfdfdf);
  -pie-background: linear-gradient(top, #cacaca, #dfdfdf);
  background: linear-gradient(top, #cacaca, #dfdfdf);
  font-size: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -webkit-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -o-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  text-decoration: none;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3961d), color-stop(100%, #ffc34a));
  background: -webkit-linear-gradient(top, #f3961d, #ffc34a);
  background: -moz-linear-gradient(top, #f3961d, #ffc34a);
  background: -o-linear-gradient(top, #f3961d, #ffc34a);
  -pie-background: linear-gradient(top, #f3961d, #ffc34a);
  background: linear-gradient(top, #f3961d, #ffc34a);
  color: #fff;
  font-weight: bold;
  float: right;
  margin: 10px 0;
}
/* line 54, src/upc.scss */
.upc .upc-replies form .add-a-photo {
  margin: 10px 0 0;
}
/* line 55, src/upc.scss */
.upc .upc-replies form .button-row {
  height: auto;
  overflow: visible;
}
/* line 56, src/upc.scss */
.upc .upc-replies form.collapsed .button-row, .upc .upc-replies form.collapsed .add-a-photo {
  display: none;
}
/* line 57, src/upc.scss */
.upc .upc-replies form h3 {
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
/* line 60, src/upc.scss */
.upc .cpi {
  display: block;
  margin: 10px 0;
}
