/* line 1, src/wall.scss */
#the-wall {
  width: 562px;
  margin: 10px auto;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
  border: 2px solid blue;
}

/* line 9, src/wall.scss */
.solicitation {
  background: #eee;
  margin: 10px 0;
}

/* line 14, src/wall.scss */
.hidden, div.step {
  display: none;
}

/* line 18, src/wall.scss */
textarea {
  resize: vertical;
}

/* line 22, src/wall.scss */
section.solicitation {
  border: 1px solid pink;
}

/* line 26, src/wall.scss */
.solicitation + .solicitation {
  display: none;
}
