/* line 27, src/pie.scss */
.pie-element, .bordered, .gradient, .btn, .primary, .btn.cancel {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  position: relative;
}

/* line 33, src/pie.scss */
.bordered {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 38, src/pie.scss */
.gradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 52, src/pie.scss */
.pie-container, .widget {
  z-index: 0;
  position: relative;
}

/* line 56, src/pie.scss */
.z-pie-element, .widget h3 {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  z-index: 0;
}

/* line 71, src/pie.scss */
.has-gradient {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* misc */
/* line 28, src/wall-variables-mixins.scss */
.hidden {
  display: none!important;
}

/* line 29, src/wall-variables-mixins.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 30, src/wall-variables-mixins.scss */
.temp {
  border: 1px solid red;
  background: #eee;
}

/* line 48, src/wall-variables-mixins.scss */
.textarea-wrapper {
  background: #fff;
  padding: 0;
  display: block;
  clear: both;
}
/* line 50, src/wall-variables-mixins.scss */
.textarea-wrapper .inner {
  background: #fff;
  clear: both;
  display: block;
  padding: 5px;
}
/* line 52, src/wall-variables-mixins.scss */
.textarea-wrapper .inner textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  min-height: 17px;
  resize: vertical;
}

/* line 56, src/wall-variables-mixins.scss */
.btn {
  display: inline-block;
  padding: 7px 11px;
  color: #193d55;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #cacaca, #dfdfdf);
  background: -moz-linear-gradient(top, #cacaca, #dfdfdf);
  background: -o-linear-gradient(top, #cacaca, #dfdfdf);
  -pie-background: linear-gradient(top, #cacaca, #dfdfdf);
  background: linear-gradient(top, #cacaca, #dfdfdf);
  font-size: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -webkit-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -o-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  text-decoration: none;
  text-align: center;
}

/* line 57, src/wall-variables-mixins.scss */
.primary {
  display: inline-block;
  padding: 7px 11px;
  color: #193d55;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #cacaca, #dfdfdf);
  background: -moz-linear-gradient(top, #cacaca, #dfdfdf);
  background: -o-linear-gradient(top, #cacaca, #dfdfdf);
  -pie-background: linear-gradient(top, #cacaca, #dfdfdf);
  background: linear-gradient(top, #cacaca, #dfdfdf);
  font-size: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -webkit-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -o-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  text-decoration: none;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3961d), color-stop(100%, #ffc34a));
  background: -webkit-linear-gradient(top, #f3961d, #ffc34a);
  background: -moz-linear-gradient(top, #f3961d, #ffc34a);
  background: -o-linear-gradient(top, #f3961d, #ffc34a);
  -pie-background: linear-gradient(top, #f3961d, #ffc34a);
  background: linear-gradient(top, #f3961d, #ffc34a);
  color: #fff;
  font-weight: bold;
}

/* line 58, src/wall-variables-mixins.scss */
.btn.cancel {
  display: inline-block;
  padding: 7px 11px;
  color: #193d55;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #cacaca, #dfdfdf);
  background: -moz-linear-gradient(top, #cacaca, #dfdfdf);
  background: -o-linear-gradient(top, #cacaca, #dfdfdf);
  -pie-background: linear-gradient(top, #cacaca, #dfdfdf);
  background: linear-gradient(top, #cacaca, #dfdfdf);
  font-size: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -webkit-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  -o-box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  box-shadow: 1px 1px 2px rgba(190, 190, 190, 0.85);
  text-decoration: none;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9b), color-stop(100%, #c6c4c7));
  background: -webkit-linear-gradient(top, #9a9a9b, #c6c4c7);
  background: -moz-linear-gradient(top, #9a9a9b, #c6c4c7);
  background: -o-linear-gradient(top, #9a9a9b, #c6c4c7);
  -pie-background: linear-gradient(top, #9a9a9b, #c6c4c7);
  background: linear-gradient(top, #9a9a9b, #c6c4c7);
  color: #fff;
  font-weight: normal;
}
