/* 562px */
/* misc */
/* line 7, src/wall.scss */
.hidden {
  display: none!important;
}

/* line 8, src/wall.scss */
textarea {
  resize: vertical;
}

/* line 9, src/wall.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 12, src/wall.scss */
#the-wall {
  width: auto;
  margin: 10px auto;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
  border: 1px solid #666666;
}
/* line 16, src/wall.scss */
#the-wall #wall-content nav {
  background: #eee;
  display: block;
  margin: 10px 0;
  overflow: auto;
  padding: 10px 5px;
}
/* line 18, src/wall.scss */
#the-wall #wall-content nav h1 {
  float: left;
}
/* line 19, src/wall.scss */
#the-wall #wall-content nav span {
  float: right;
}

/* line 24, src/wall.scss */
section.solicitation {
  margin: 10px 0;
  display: block;
  background: #eee;
}

/* line 29, src/wall.scss */
.upc .vcard {
  float: left;
  width: 100px;
  color: #666666;
}
/* line 31, src/wall.scss */
.upc .vcard h2 {
  font-size: 12px;
  font-style: italic;
  color: #666666;
}
/* line 34, src/wall.scss */
.upc .vcard > img {
  height: 72px;
  width: 72px;
  background: #eee;
  display: block;
  clear: both;
}
/* line 37, src/wall.scss */
.upc .vcard li {
  display: inline;
}
/* line 40, src/wall.scss */
.upc .vcard li img {
  height: 19px;
  width: 19px;
  display: inline-block;
  border: 1px solid red;
}
/* line 45, src/wall.scss */
.upc .upc-content {
  margin: 0 0 0 130px;
  display: block;
}
/* line 46, src/wall.scss */
.upc .upc-single {
  border-bottom: 1px solid #666666;
  display: block;
  margin-bottom: 10px;
  clear: both;
}
/* line 47, src/wall.scss */
.upc .description {
  padding: 0 0 10px 0;
}
/* line 49, src/wall.scss */
.upc .upc-replies {
  margin: 0 0 0 130px;
  display: block;
}
/* line 51, src/wall.scss */
.upc .upc-replies article {
  border-bottom: 1px solid #666666;
  display: block;
  margin-bottom: 10px;
  clear: both;
}
/* line 53, src/wall.scss */
.upc .upc-replies article > div {
  margin: 0 0 0 124px;
  display: block;
}

/* line 59, src/wall.scss */
.upc-tools {
  border-left: 1px solid #666666;
}
/* line 61, src/wall.scss */
.upc-tools li {
  display: inline;
}

/* line 64, src/wall.scss */
.upc-replies .upc-tools {
  margin-left: 124px;
}
