/* line 27, src/pie.scss */
.pie-element, .bordered, .gradient, .primary, .solicitation.review, .solicitation.question, .solicitation.photo, .solicitation.video,
.edit.review, .solicitation.review form, .solicitation.question form, .solicitation.photo form, .solicitation.video form,
.edit.review form {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  position: relative;
}

/* line 33, src/pie.scss */
.bordered {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 38, src/pie.scss */
.gradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 52, src/pie.scss */
.pie-container, .widget {
  z-index: 0;
  position: relative;
}

/* line 56, src/pie.scss */
.z-pie-element, .widget h3 {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  z-index: 0;
}

/* line 71, src/pie.scss */
.has-gradient {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 27, src/pie.scss */
.pie-element, .bordered, .gradient, .primary, .solicitation.review, .solicitation.question, .solicitation.photo, .solicitation.video,
.edit.review, .solicitation.review form, .solicitation.question form, .solicitation.photo form, .solicitation.video form,
.edit.review form {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  position: relative;
}

/* line 33, src/pie.scss */
.bordered {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 38, src/pie.scss */
.gradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 52, src/pie.scss */
.pie-container, .widget {
  z-index: 0;
  position: relative;
}

/* line 56, src/pie.scss */
.z-pie-element, .widget h3 {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  z-index: 0;
}

/* line 71, src/pie.scss */
.has-gradient {
  behavior: url("/UIPrototypes/assets/misc/PIE.htc");
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* misc */
/* line 27, src/wall-variables-mixins.scss */
.hidden {
  display: none!important;
}

/* line 28, src/wall-variables-mixins.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 29, src/wall-variables-mixins.scss */
.temp {
  border: 1px solid red;
  background: #eee;
}

/* line 43, src/wall-variables-mixins.scss */
.textarea-wrapper {
  background: #fff;
  padding: 0;
  display: block;
  clear: both;
}
/* line 45, src/wall-variables-mixins.scss */
.textarea-wrapper .inner {
  background: #fff;
  clear: both;
  display: block;
  padding: 5px;
}
/* line 47, src/wall-variables-mixins.scss */
.textarea-wrapper .inner textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  min-height: 17px;
  resize: vertical;
}

/* line 51, src/wall-variables-mixins.scss */
.primary {
  display: inline-block;
  padding: 7px 11px;
  color: #193d55;
  cursor: pointer;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #cacaca, #dfdfdf);
  background: -moz-linear-gradient(top, #cacaca, #dfdfdf);
  background: -o-linear-gradient(top, #cacaca, #dfdfdf);
  -pie-background: linear-gradient(top, #cacaca, #dfdfdf);
  background: linear-gradient(top, #cacaca, #dfdfdf);
  font-size: 15px;
  -moz-box-shadow: 2px 2px 3px rgba(190, 190, 190, 0.85);
  -webkit-box-shadow: 2px 2px 3px rgba(190, 190, 190, 0.85);
  -o-box-shadow: 2px 2px 3px rgba(190, 190, 190, 0.85);
  box-shadow: 2px 2px 3px rgba(190, 190, 190, 0.85);
  text-decoration: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3961d), color-stop(100%, #ffc34a));
  background: -webkit-linear-gradient(top, #f3961d, #ffc34a);
  background: -moz-linear-gradient(top, #f3961d, #ffc34a);
  background: -o-linear-gradient(top, #f3961d, #ffc34a);
  -pie-background: linear-gradient(top, #f3961d, #ffc34a);
  background: linear-gradient(top, #f3961d, #ffc34a);
  color: #fff;
  font-weight: bold;
}

/* top of the page solicitations */
/* actively using the mixin */
/* line 30, src/wall-solicitations.scss */
.solicitation.review, .solicitation.question, .solicitation.photo, .solicitation.video,
.edit.review {
  /* hiding the call to action to expand a form when the form is !collapsed */
  /* showing the call to action to expand the form when form is collapsed */
  /* hiding the content in the top of the page when collapsed */
}
/* line 7, src/wall-solicitations.scss */
.solicitation.review .indicator, .solicitation.question .indicator, .solicitation.photo .indicator, .solicitation.video .indicator,
.edit.review .indicator {
  background: url(../img/carrot.jpg) 96px top no-repeat;
  padding: 15px 0 0 0;
  display: block;
  position: relative;
  z-index: 2;
  top: 1px;
}
/* line 9, src/wall-solicitations.scss */
.solicitation.review.question .indicator, .solicitation.question.question .indicator, .solicitation.photo.question .indicator, .solicitation.video.question .indicator,
.edit.review.question .indicator {
  background-position: 255px top;
}
/* line 10, src/wall-solicitations.scss */
.solicitation.review.photo .indicator, .solicitation.question.photo .indicator, .solicitation.photo.photo .indicator, .solicitation.video.photo .indicator,
.edit.review.photo .indicator {
  background-position: 410px top;
}
/* line 12, src/wall-solicitations.scss */
.solicitation.review form, .solicitation.question form, .solicitation.photo form, .solicitation.video form,
.edit.review form {
  margin: 0 0 10px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9eb), color-stop(100%, #f3f3f5));
  background: -webkit-linear-gradient(#e9e9eb, #f3f3f5);
  background: -moz-linear-gradient(#e9e9eb, #f3f3f5);
  background: -o-linear-gradient(#e9e9eb, #f3f3f5);
  -pie-background: linear-gradient(#e9e9eb, #f3f3f5);
  background: linear-gradient(#e9e9eb, #f3f3f5);
  display: block;
  padding: 10px;
  border: 1px solid #cccccc;
  position: relative;
  z-index: 1;
}
/* line 14, src/wall-solicitations.scss */
.solicitation.review h1, .solicitation.question h1, .solicitation.photo h1, .solicitation.video h1,
.edit.review h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #666666;
}
/* line 15, src/wall-solicitations.scss */
.solicitation.review h2, .solicitation.question h2, .solicitation.photo h2, .solicitation.video h2,
.edit.review h2 {
  font-size: 16px;
  margin: 13px 0 10px 0;
}
/* line 17, src/wall-solicitations.scss */
.solicitation.review h2 a, .solicitation.question h2 a, .solicitation.photo h2 a, .solicitation.video h2 a,
.edit.review h2 a {
  color: #039;
  text-decoration: none;
  font-weight: bold;
}
/* line 21, src/wall-solicitations.scss */
.solicitation.review .display-form, .solicitation.question .display-form, .solicitation.photo .display-form, .solicitation.video .display-form,
.edit.review .display-form {
  display: none;
}
/* line 23, src/wall-solicitations.scss */
.solicitation.review.collapsed .display-form, .solicitation.question.collapsed .display-form, .solicitation.photo.collapsed .display-form, .solicitation.video.collapsed .display-form,
.edit.review.collapsed .display-form {
  display: block;
}
/* line 25, src/wall-solicitations.scss */
.solicitation.review.collapsed .step, .solicitation.question.collapsed .step, .solicitation.photo.collapsed .step, .solicitation.video.collapsed .step,
.edit.review.collapsed .step {
  display: none;
}
