/* 562px */
/* misc */
/* line 7, src/wall.scss */
.hidden {
  display: none!important;
}

/* line 8, src/wall.scss */
textarea {
  resize: vertical;
}

/* line 9, src/wall.scss */
.clearfix:after, .upc .description:after, .upc .upc-replies article:after, .upc .upc-replies article > div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 10, src/wall.scss */
.temp, .upc .vcard > img, .upc .vcard li img, .upc .cpi {
  border: 1px solid red;
  background: #eee;
}

/* line 13, src/wall.scss */
#the-wall {
  width: auto;
  margin: 10px auto;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
}
/* line 17, src/wall.scss */
#the-wall #wall-content nav {
  background: #eee;
  display: block;
  margin: 10px 0;
  overflow: auto;
  padding: 10px 5px;
}
/* line 19, src/wall.scss */
#the-wall #wall-content nav h1 {
  float: left;
}
/* line 20, src/wall.scss */
#the-wall #wall-content nav span {
  float: right;
}

/* line 25, src/wall.scss */
section.solicitation {
  margin: 10px 0;
  display: block;
  background: #eee;
}

/* line 29, src/wall.scss */
.upc {
  padding-bottom: 10px;
  border-bottom: 5px solid #eee;
  display: block;
  margin: 0 0 20px 0;
}
/* line 32, src/wall.scss */
.upc .vcard {
  float: left;
  width: 100px;
  color: #666666;
}
/* line 34, src/wall.scss */
.upc .vcard h2 {
  font-size: 12px;
  font-style: italic;
  color: #666666;
}
/* line 37, src/wall.scss */
.upc .vcard > img {
  height: 72px;
  width: 72px;
  display: block;
  clear: both;
}
/* line 40, src/wall.scss */
.upc .vcard li {
  display: inline;
}
/* line 43, src/wall.scss */
.upc .vcard li img {
  height: 19px;
  width: 19px;
  display: inline-block;
}
/* line 48, src/wall.scss */
.upc .upc-content {
  margin: 0 0 0 130px;
  display: block;
}
/* line 49, src/wall.scss */
.upc .upc-single {
  border-bottom: 1px solid #666666;
  display: block;
  margin-bottom: 10px;
  clear: both;
}
/* line 50, src/wall.scss */
.upc .description {
  padding: 0 0 10px 0;
}
/* line 52, src/wall.scss */
.upc .upc-replies {
  margin: 0 0 0 130px;
  display: block;
}
/* line 54, src/wall.scss */
.upc .upc-replies article {
  border-bottom: 1px solid #666666;
  display: block;
  margin-bottom: 10px;
  clear: both;
}
/* line 56, src/wall.scss */
.upc .upc-replies article > div {
  margin: 0 0 0 124px;
  display: block;
}
/* line 59, src/wall.scss */
.upc .cpi {
  display: block;
}

/* line 62, src/wall.scss */
.upc-tools {
  border-left: 1px solid #666666;
  clear: both;
  position: relative;
}
/* line 64, src/wall.scss */
.upc-tools li {
  display: inline;
}
/* line 66, src/wall.scss */
.upc-tools li.flag, .upc-tools li.delete {
  position: absolute;
  right: 0;
}

/* line 70, src/wall.scss */
.upc-replies .upc-tools {
  margin-left: 124px;
}
