#rankings.bcs #left_nav_tracking { display:none;}
@import "compass/css3/box-shadow";
@import "profile-pic";

// init
@mixin ldrbrd-sprite { background:url(../img/spr_leaderboard.jpg) top left no-repeat; }
.profile-pic { @include profile-pic; }

// colors:
$primary-link-color: #3e59ff;
$primary-text-color: #333;
$secondary-text-color: #555;
$search-box-text-color:#337999;
$current-page-indicator:#DE7B1E;

#ldr-content, #ldr-header {
    a {
        color:$primary-link-color; text-decoration:none;
        &:hover {color:$primary-link-color; text-decoration:underline;}
    }
}


// layout
// #ldr-header, #ldr-content { width:1000px; margin:0 auto}
div#rankings_inner_right {margin:0 282px 0 0; }

div#rankings_search{
	float:right; @include ldrbrd-sprite; background-position:-10px -51px; width:262px; height:42px;
    #search_terms_block{ margin:6px 0 0 4px}
    #search_terms_lbl { display:none; }
    #search_terms { border:0; color:$search-box-text-color; font-family:Georgia, Times New Roman, serif; font-style:italic; font-size:22px; margin:0 0 0 7px; width:240px; }
}

div#rankings_detailed_list {
    margin:10px 0; width:100%;
    ol{
        list-style:none; margin:0; border:1px solid #C5C8D2; // overflow:hidden;
        // individual entry
        > li {
            display:inline-block; margin:0 0 10px 0; padding:10px 0; @include ldrbrd-sprite; background-position:bottom left; background-repeat:repeat-x; list-style-type:none; width:100%;
            &:last-child {margin-bottom:0;}
        }
    }
    h3 {
        background:#f8f8f8; color:$secondary-text-color; font-weight:bold; text-transform:none; font-size:13px; line-height:1em; padding:10px 5px; margin:0; overflow:auto;
    }
    
    .rankings_nav_top, .rankings_nav_bottom {
        float:right; font-size:12px; white-space:nowrap; font-weight:bold; color:$current-page-indicator;
        a {
            color:$primary-text-color;
            &:hover { font-weight:normal; cursor:pointer; }
        }
    }
    .rankings_nav_bottom {padding:10px 0 0 0;}

    h4 a:link,div#rankings_detailed_list h4 a:visited{font-weight:bold;text-decoration:none}
    h4{
        font-size:14px;line-height:1em;margin:0 175px 10px 0; margin:8px 5px 0 165px; font-size:22px;
        a { color:#666666;
            span{font-weight:normal}
        }
    }

	> h4 {
	    color:#fff; background:#597D9C; padding:10px 5px; margin:0; font-size:12px;
		span {display:inline-block; text-align:left; width:160px;}
		.activity {text-align:center; float:right; width:300px; }
	}

    h5 { font-family:Georgia, Times New Roman, serif; font-family:12px; font-style:italic; color:#666; font-size:12px; margin:0 0 0 165px; }
}

#ldr-header {
	// min-height:100px;
	.intro {
		width:350px; margin:10px 0 0 0; float:left;
		h1 {
			color:#434343; font-size:46px; font-weight:bold; margin:0; line-height:35px;
			&.long {font-size:24px; line-height:1em}
		}
		p {font-size:12px;}
	}

 .greeting {
	width:600px; background:#ccc; float:right; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; padding:8px;
	h2 {font-size:20px; font-weight:bold; margin:0; -webkit-text-shadow:0 1px 2px #eee; text-shadow:0 1px 2px #eee; margin:0 0 0 10px}
	ul {float:left; width:450px;}
	li {float:left; width:49%; font-size:14px;}
	p {
		float:right; font-size:10px; width:105px; text-align:center; margin:0 10px 0 0;
		#btn-register {width:107px; height:31px; display:block; clear:both; background:url(/images/bcs/rankings/spr_leaderboard.jpg) no-repeat -12px -10px; color:#fff; line-height:25px; margin:-2px 0 3px 0; text-indent:-9999px}
	}
	&.logged-in {
		h2 {margin:2px 0 0 160px;}
		p {
			float:none; font-family:Georgia, Times New Roman, serif; font-style:italic; text-align:left; margin:7px 0 0 160px; width:260px; font-size:12px;
			strong {color:#009900; font-style:italic;}
		}
		h4 {
			float:right; margin:-30px 10px 0 0;
			a {width:109px; height:31px; display:block; text-indent:-9999px; background:url(/images/bcs/rankings/spr_leaderboard.jpg) no-repeat -129px -10px}
		}
	}
 }

}

span.rank {
    background:#e7e7e7;color:#666; padding:8px 10px; font-size:20px; position:inherit; top:8px; float:left; margin-left:0;
    &.went-up { @include ldrbrd-sprite; background-position:0 -100px; padding-left:15px; }
    &.went-down { @include ldrbrd-sprite; background-position: 0 -149px; padding-left:15px; }
}

div#rankings_detailed_list .breakdown {
    float:right; color:#848484; margin:-40px 10px 15px 0;
    li {
        float:left; padding:2px 10px; width:auto; margin:0; position:inherit; border:none; border-right:1px solid #d0d0d0; text-align:center; font-size:10px; list-style-type:none;
        em {display:block; font-size:20px; font-weight:normal}
        &.last {border:0;}
    }
}

.total {
    font-size:22px; margin:0 0 0 165px; color:#848484;
    span {font-size:12px; }
}

#ldr-sidebar {
    float:right; width:262px; padding:33px 0 0 0;
	> div {margin-bottom:35px;}
	h3 {font-size:16px; color:#666; text-transform:none;}
	h4 {font-size:20px; color:#597d9c; font-weight:bold}

	.inner {
		background:white; padding:9px; border:1px solid #c4c7d2;
		p {font-size:14px; margin:10px 0}
		ul {
			margin:0;
			li {
				list-style-type:none; font-size:18px; font-weight:bold; background:#eee; margin:1px -9px; padding:5px 9px 0 9px; height:35px;
				em {list-style-type:none; font-weight:normal; float:right; color:#009900}
			}
		}
	}
    #quickanswer_promo .inner {
        display:block; padding-right:110px; @include ldrbrd-sprite; background-position: -25px -210px;
        a {display:block; margin:5px 0; font-size:14px;}
    }
}



div#rankings_stats {visibility:hidden}
.sports {display:none;}


/* browser fixes  */
.ie7 {
	/*span.rank {width:auto!important;}
	div.profile_pic {float:left; margin:0 0 0 55px}
	#content-types .inner ul li {
		position:relative;
		em {position:absolute;right:7px;}
	}
	.greeting.logged-in {position:relative;}*/
    #ldr-sidebar { padding-top:42px; }
}

// dev only
body { width:90%!important; min-width:1024px;}